.cursor {
    width: 8px;
    height: 8px;
    background-color: var(--text-main);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}

.follower {
    width: 40px;
    height: 40px;
    border: 1px solid var(--text-main);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9998;
    transform: translate(-50%, -50%);
    transition: transform 0.1s;
    mix-blend-mode: difference;
}

@media (pointer: coarse) {

    .cursor,
    .follower {
        display: none;
    }
}